include README.rst
include Makefile
include setup.cfg

recursive-include tests *
exclude tests/fixtures/engine_families.zip
recursive-include polyunite/vocabs *.json

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
