[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
wheel = "*"
flake8 = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
Sphinx = "*"
mypy = "*"

[packages]
polyunite = {path = ".",editable = true}
